<div>
    <h2>{{title}}</h2>
    <div ng-repeat="m in meds.medList | orderBy:'time' | filter:onList" class="panel panel-default" ng-class="getAlertClass(m)" >
		<div class="panel-heading">{{getDate(m.time)}}</div>
		<div class="panel-body">
		<div ng-class="getIconClass(m)"> </div>
		<div>{{m.name}} <br> {{m.dosage}}
		</div>
		<div ng-show="isCompleted(m)">{{getCompletedText(m)}}</div>
		<button class="btn btn-default" ng-hide="hideCompletedButton(m)" ng-click="completedButtonClicked(m)">Complete</button>
		<button class="btn btn-default" ng-click="deleteReminder(m)">Delete</button>
		</div>
	</div>
</div>